#display-board {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 60%;
  height: 300px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgb(198, 195, 202);
  margin-bottom: 40px;
}

.square {
  display: flex;
  flex-wrap: wrap;
  float: left;
  border: 2px solid black;
  width: 25%;
  height: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
  margin-left: 10px;
}

#display-message {
  display: flex;
  padding: 10px;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px rgb(198, 195, 202);
  justify-content: center;
}
